<!-- <body>
    <div id="intrebare1"> Intrebare 1</div><br/>
        <input type="radio" id="intrebare1R1"/>
        <input type="radio" id="intrebare1R2"/>
        <input type="radio" id="intrebare1R3"/>
        <input type="radio" id="intrebare1R4"/>
    <div id="intrebare2"> Intrebare 2</div><br/>
        <input type="radio" id="intrebare2R1"/>
        <input type="radio" id="intrebare2R2"/>
        <input type="radio" id="intrebare2R3"/>
        <input type="radio" id="intrebare2R4"/>
    <div id="intrebare3"> Intrebare 3</div><br/>
        <input type="radio" id="intrebare3R1"/>
        <input type="radio" id="intrebare3R2"/>
        <input type="radio" id="intrebare3R3"/>
        <input type="radio" id="intrebare3R4"/>
    <div id="intrebare4"> Intrebare 4</div><br/>
        <input type="radio" id="intrebare4R1"/>
        <input type="radio" id="intrebare4R2"/>
        <input type="radio" id="intrebare4R3"/>
        <input type="radio" id="intrebare4R4"/>
    <div id="intrebare5"> Intrebare 5</div><br/>
        <input type="radio" id="intrebare5R1"/>
        <input type="radio" id="intrebare5R2"/>
        <input type="radio" id="intrebare5R3"/>
        <input type="radio" id="intrebare5R4"/>
    <div id="intrebare6"> Intrebare 6</div><br/>
        <input type="radio" id="intrebare6R1"/>
        <input type="radio" id="intrebare6R2"/>
        <input type="radio" id="intrebare6R3"/>
        <input type="radio" id="intrebare6R4"/>
    <div id="intrebare7"> Intrebare 7</div><br/>
        <input type="radio" id="intrebare7R1"/>
        <input type="radio" id="intrebare7R2"/>
        <input type="radio" id="intrebare7R3"/>
        <input type="radio" id="intrebare7R4"/>
    <div id="intrebare8"> Intrebare 8</div><br/>
        <input type="radio" id="intrebare8R1"/>
        <input type="radio" id="intrebare8R2"/>
        <input type="radio" id="intrebare8R3"/>
        <input type="radio" id="intrebare8R4"/>
    <div id="intrebare9"> Intrebare 9</div><br/>
        <input type="radio" id="intrebare9R1"/>
        <input type="radio" id="intrebare9R2"/>
        <input type="radio" id="intrebare9R3"/>
        <input type="radio" id="intrebare9R4"/>
    <div id="intrebare10"> Intrebare 10</div><br/>
        <input type="radio" id="intrebare10R1"/>
        <input type="radio" id="intrebare10R2"/>
        <input type="radio" id="intrebare10R3"/>
        <input type="radio" id="intrebare10R4"/>
</body> -->

{
    intrebare: 'Cat de des faceti cumparaturi din industria frumusetii si ingrijirii?',
    variante: ['O data pe saptamana', 'O data pe luna', 'Deloc', 'Cand am nevoie'],
    corect: 0
},
{
    intrebare: 'Ati auzit despre produsele cosmetice coreene?',
    variante: ['Da', 'Nu sunt sigur', 'Nu', 'Nu ma intereseaza'],
    corect: 0
},
{
    intrebare: 'Ati procurat cel putin o data produse cosmetice coreene?',
    variante: ['Da', 'Nu sunt sigur', 'Nu', 'Nu ma intereseaza'],
    corect: 0
},
{
    intrebare: 'Ce produse cosmetice de ingrijire ati folosit?',
    variante: ['Gel de dus', 'Sampon antimatreata', 'Crema antirid', 'Crema de maini'],
    corect: 0
},
{
    intrebare: 'Ce marca de crema antirid ati folosit?',
    variante: ['Farmec', 'Avon', 'Nivea', 'Nu am folosit'],
    corect: 0
},
{
    intrebare: 'Din ce surse ati auzit de Farmec?',
    variante: ['Internet', 'Prieteni', 'Televizor', 'Nu am auzit'],
    corect: 0
},
{
    intrebare: 'Care este opinia dvs despre Farmec?',
    variante: ['Nesatisfacatoare', 'Buna', 'Satisfacatoare', 'Nu am o opinie'],
    corect: 0
},
{
    intrebare: 'Ce moment al zilei vi sa pare mai potrivi pentru aplicarea cremei UV?',
    variante: ['Dimineata', 'Seara', 'La pranz', 'Inainte de a iesi din casa'],
    corect: 0
},

{
    intrebare: 'Cat de des folositi crema de maini?',
    variante: ['In fiecare zi', 'Nu folosesc', 'O data pe saptamana', 'O data pe luna'],
    corect: 0
},