
<div id="Autentificare"><strong>Bine ai venit <%= user ? user : 'Guest' %></strong></div></br>
<button id="spreAutentificare" onclick="window.location.href='/autentificare'">Autentificare</button></br></br>
<button id  ="chestionar" onclick="window.location.href='/chestionar'">Chestionar</button></br></br>
<form action="/logout" method="post">
    <button id="logout"  type="submit">Logout</button>
</form></br></br>
<button id="creareBD" onclick="window.location.href='/creare-bd'">Creare BD</button></br></br>
<button id="incarcareBD" onclick="window.location.href='/inserarebd'">Încarcare BD</button></br></br>

<h2>Products</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - $<%= product.price %>
                <% if (user) { %>
                    <form action="/adaugare_cos" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <button type="submit">Adaugă în coș</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <% if (user) { %>
        <button onclick="window.location.href='/vizualizare-cos'">Vizualizare Coș</button>
    <% } %>

