<html>
    <head>

    </head>
    <body>
        <header>
            <h1> Bine ai venit! </h1>
        </header>
        <main>
        <div id="intrebare1"> Intrebare 1</div>
            <div>1.<input type="radio" id="intrebare1R1"/></div>
            <div>2.<input type="radio" id="intrebare1R2"/></div>
            <div>3.<input type="radio" id="intrebare1R3"/></div>
            <div>4.<input type="radio" id="intrebare1R4"/></div><br/>
        <div id="intrebare2"> Intrebare 2</div>
            <div>1.<input type="radio" id="intrebare2R1"/></div>
            <div>2.<input type="radio" id="intrebare2R2"/></div>
            <div>3.<input type="radio" id="intrebare2R3"/></div>
            <div>4.<input type="radio" id="intrebare2R4"/></div><br/>
        <div id="intrebare3"> Intrebare 3</div>
            <div>1.<input type="radio" id="intrebare3R1"/></div>
            <div>2.<input type="radio" id="intrebare3R2"/></div>
            <div>3.<input type="radio" id="intrebare3R3"/></div>
            <div>4.<input type="radio" id="intrebare3R4"/></div><br/>
        <div id="intrebare4"> Intrebare 4</div>
            <div>1.<input type="radio" id="intrebare4R1"/></div>
            <div>2.<input type="radio" id="intrebare4R2"/></div>
            <div>3.<input type="radio" id="intrebare4R3"/></div>
            <div>4.<input type="radio" id="intrebare4R4"/></div><br/>
        <div id="intrebare5"> Intrebare 5</div>
            <div>1.<input type="radio" id="intrebare5R1"/></div>
            <div>2.<input type="radio" id="intrebare5R2"/></div>
            <div>3.<input type="radio" id="intrebare5R3"/></div>
            <div>4.<input type="radio" id="intrebare5R4"/></div><br/>
        <div id="intrebare6"> Intrebare 6</div>
            <div>1.<input type="radio" id="intrebare6R1"/></div>
            <div>2.<input type="radio" id="intrebare6R2"/></div>
            <div>3.<input type="radio" id="intrebare6R3"/></div>
            <div>4.<input type="radio" id="intrebare6R4"/></div><br/>
        <div id="intrebare7"> Intrebare 7</div>
            <div>1.<input type="radio" id="intrebare7R1"/></div>
            <div>2.<input type="radio" id="intrebare7R2"/></div>
            <div>3<input type="radio" id="intrebare7R3"/></div>
            <div>4<input type="radio" id="intrebare7R4"/></div><br/>
        <div id="intrebare8"> Intrebare 8</div>
            <div>1<input type="radio" id="intrebare8R1"/></div>
            <div>2<input type="radio" id="intrebare8R2"/></div>
            <div>3<input type="radio" id="intrebare8R3"/></div>
            <div>4<input type="radio" id="intrebare8R4"/></div><br/>
        <div id="intrebare9"> Intrebare 9</div>
            <div>1<input type="radio" id="intrebare9R1"/></div>
            <div>2<input type="radio" id="intrebare9R2"/></div>
            <div>3<input type="radio" id="intrebare9R3"/></div>
            <div>4<input type="radio" id="intrebare9R4"/></div><br/>
        <div id="intrebare10"> Intrebare 10</div>
            <div>1<input type="radio" id="intrebare10R1"/></div>
            <div>2<input type="radio" id="intrebare10R2"/></div>
            <div>3<input type="radio" id="intrebare10R3"/></div>
            <div>4<input type="radio" id="intrebare10R4"/></div><br/>
        </main>
    </body>
</html>